state_sa_name = <storage account name>
container_name = "akscs"
access_key = "XXXXXX"
prefix  = "akscs"


# OPTIONAL:  Update the mongodb_secret with a username and password
# mongodb_secret = "mongodb://<username>:<password>@ratings-mongodb.ratingsapp:27017/ratingsdb"



